<main class="mainPage backgroundColor">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile
      [colspan]="3"
      [rowspan]="5">
      <img src="{{product?.image}}">
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="3"
      [rowspan]="2">
      <div>
        <p>{{product?.name}}</p>
        <p>{{product?.description}}</p>
        <p>Prijs: € {{product?.price}}</p>
        <button mat-raised-button color="primary" class="buyButton" i18n>
          Voeg toe aan winkelmandje
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</main>


