<div class="page">
  <mat-card class="card">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title class="fontTitle" i18n>Voeg product toe</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <mat-form-field>
          <input
            matInput
            aria-label="name"
            placeholder="name"
            formControlName="productName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            aria-label="image"
            placeholder="image"
            formControlName="image"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            aria-label="price"
            placeholder="price"
            formControlName="price"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            aria-label="description"
            placeholder="description"
            formControlName="description"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]='!addProductForm.valid'
          mat-raised-button
          type="submit"
          color="primary"
          i18n
          >
          Voeg toe
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
